h1 {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h2 {
  background-color: aqua;
  width: 20%;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h3 {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.p1 {
  width: 50%;
  background-color: crimson;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

span {
  padding: 5px;
  border-radius: 10px;
  background-color: darkkhaki;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

ul > li > span {
  background-color: deeppink;
}

#list2 {
  background-color: brown;
  padding: 3px;
  color: aliceblue;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button {
  padding: 7px;
  width: 300px;
  border: none;
  background-color: bisque;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 1px 0 1px rgb(71, 71, 71);
  cursor: pointer;
}
