.header > h1 {
  font-size: 36px;
  font-family: monospace;
}

.header > h1 + p {
  color: #6b7280;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.contact-form > label {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.contact > .contact-form {
  width: 500px;
  padding: 20px;
  margin-left: 35%;
  border: 2px dotted #6b7280;
}

/* PENERAPAN Atribut-Selector */
.contact > .contact-form input[type="text"] {
  font-size: 20px;
}

.contact > .contact-form input[type="email"] {
  background-color: red;
}

.contact > .contact-form input[type="password"] {
  text-decoration: underline;
  font-weight: 800;
}

.contact > .contact-form textarea {
  background-color: antiquewhite;
  width: 100%;
  height: 500px;
  font-size: 20px;
}

/* PENERAPAN Atribut-Selector */

.contact-form > label + input,
.contact-form > label + textarea {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact > .contact-form > button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer > h5 {
  font-size: 16px;
}

.footer > p {
  font-size: 18px;
  color: #9ca3af;
  position: relative;
  bottom: 0;
  margin-left: 3rem;
  text-align: center;
}
