.header > h1 {
  font-size: 36px;
  font-family: monospace;
}

.header > h1 + p {
  color: #6b7280;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  /* width: 50%; */
  gap: 50px;
  justify-content: space-between;
  align-content: center;
}

.hero,
.services {
  width: 50%;
  padding: 5 px;
}

.hero > .hero-box h2 {
  background-color: crimson;
}

.hero-box > h2 {
  font-size: 42px;
  text-align: center;
}

.hero-box > .content {
  width: 80%;
  border: 10px double coral;
  padding: 8px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hero-box > h2 + p {
  margin-top: 10px;
  font-size: 18px;
}

.hero-box {
  background-color: #9ca3af;
}

.hero-box > p {
  font-size: 20px;
  text-align: justify;
}

.hero-box > button {
  width: 300px;
  height: 50px;
  border: none;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 1px 0 1px black;
  background-color: rgba(255, 228, 196, 0.445);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.services > h2 {
  margin-bottom: 30px;
  background-color: bisque;
  font-size: 30px;
  text-align: center;
}

.services > .service-card > h3 {
  font-size: 22px;
  background-color: chartreuse;
}

.service-card > h3 + p {
  font-weight: bold;
}

.testimonial {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.testimonial > .testimonial-card {
  margin-top: 30px;
  padding: 10px;
  width: 400px;
  border: 3px solid brown;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.testimonial > #satu,
#dua,
#tiga {
  box-shadow: 10px 0 10px 0 rgba(75, 75, 75, 0.829);
  transition: background-color 0.3s ease;
}

.testimonial > #satu:hover,
#dua:hover,
#tiga:hover {
  cursor: pointer;
  background-color: #b4991e9a;
}

.testimonial-card > h4 + p {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: gray;
}

.testimonial-card > p + p {
  margin-top: 10px;
  font-style: italic;
}

.contact-form > label {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.contact > .contact-form {
  width: 500px;
  padding: 20px;
  margin-left: 35%;
  border: 2px dotted #6b7280;
}

.contact-form > label + input,
.contact-form > label + textarea {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact > .contact-form > button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer > h5 {
  font-size: 16px;
}

.footer > h5 + p {
  font-size: 18px;
  color: #9ca3af;
  text-align: center;
}

p:dir(rtl) {
  background-color: red;
}
